{% spaceless %}
    {% if toggle %}
        <span class="text-success fa fa-toggle-on"></span>
    {% else %}
        <span class="text-muted fa fa-toggle-off"></span>
    {% endif %}
{% endspaceless %}
